.hex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.hex-row {
    display: flex;
    position: relative;
    margin-top: -25px; /* 1/4 of the height */
}

.hex {
    height: 100px; /* adjust to control the size  */
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: #3b8686;
    text-align: center;
}

/* .hex-row.offset {
    margin-left: 30px;
} */
